.dashboard-container {
  padding: 30px;
  background-color:pink; 
  min-height: 100vh;
}

.dashboard-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'fantasy';
}

/* Summary cards */
.card-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.summary-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.summary-card .icon {
  font-size: 24px;
}

.summary-card h4 {
  color: green;
  margin-top: 10px;
}

.chart-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.chart-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  min-width: 350px;
  max-width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* Table */
.activity-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.activity-card th,
.activity-card td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}

.activity-card thead {
  background-color: #f3f3f3;
}
