<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Personal Budget</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/dashboard">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ loggedUser?.name }}</a></li>
      <li><a routerLink="/loginsignup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#" (click)="onLogOut()"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>

<div style="display: flex;">
  <div class="sidebar">
    <h4>Personal Budget</h4>
    <ul class="sidebar-menu">
      <li><a routerLink="/dashboard"  routerLinkActive="active" class="sidebar-item">Dashboard</a></li>
      <li><a routerLink="/employees"  routerLinkActive="active" class="sidebar-item">Employees</a></li>
      <li><a routerLink="/budgets"   routerLinkActive="active"class="sidebar-item">Budgets</a></li>
      <li><a routerLink="/reports"  routerLinkActive="active" class="sidebar-item">Reports</a></li>
      <li><a routerLink="/settings" routerLinkActive="active" class="sidebar-item">Settings</a></li>
    </ul>
  </div>

  <div style="flex: 1; padding: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>
