
.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #575757;
}


.main-content {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
}
.full-width {
  width: 100%;
}


